<html>

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>Profile</title>
    
    <script>let base64String = "";
  
        function imageUploaded() {
            var file = document.querySelector(
                'input[type=file]')['files'][0];
          
            var reader = new FileReader();
            console.log("next");
              
            reader.onload = function () {
                base64String = reader.result.replace("data:", "")
                    .replace(/^.+,/, "");
          
                imageBase64Stringsep = base64String;
          
                // alert(imageBase64Stringsep);
                console.log(base64String);
                let preview = document.querySelector('#preview')
                preview.src = reader.result

            }
            reader.readAsDataURL(file);
        }
          
        function displayString() {
            console.log("Base64String about to be printed");
            alert(base64String);
            
            
        }
        function complete(){
            document.getElementById('imageid').value = base64String
        }
        </script>
</head>

<body>
    <div class="topnav" id="myTopnav">
        <a style="font-family: 'Fredoka', sans-serif;" href="/" class="active">Home</a>
        <a style="font-family: 'Fredoka', sans-serif;" href="/intro">Intro</a>
        <a style="font-family: 'Fredoka', sans-serif;" href="/signup">Sign Up</a>
        <a style="font-family: 'Fredoka', sans-serif;" href="/api">API</a>
        <a style="font-family: 'Fredoka', sans-serif;" href="/all">All</a>
        <a style="font-family: 'Fredoka', sans-serif;" href="/forgot">Forgot</a>
        <a style="font-family: 'Fredoka', sans-serif;" href="/login">Login/Logout</a>
        <a style="font-family: 'Fredoka', sans-serif;" href="/profile">Profile</a>
        <a style="font-family: 'Fredoka', sans-serif;" href="javascript:void(0);" class="icon" onclick="myNav()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <div class="card" style="margin-left: 15px;">
        <% emails.forEach(email=> { %>
            <% if (!email.profilepicture) { %>
                <h1 style="font-family: 'Fredoka', sans-serif; margin-left: 15px;">Profile <img
                        src="https://cdn.discordapp.com/attachments/852050037420195860/959887102559027260/unknown.png"
                        height="50" width="50"></h1>
                <%} else { %>
                    <h1 style="font-family: 'Fredoka', sans-serif; margin-left: 15px;">Profile <img
                            src="<%= email.profilepicture %>" height="50" width="50" style="border-radius: 50%;" />
                    </h1>
                    <% } %>

                        <p style="font-family: 'Fredoka', sans-serif; margin-left: 15px;">Email: <%= email.email %>
                        </p>
                        <p style="font-family: 'Fredoka', sans-serif; margin-left: 15px;">Username: <%= email.username
                                %>
                        </p>
                        <p style="font-family: 'Fredoka', sans-serif; margin-left: 15px;">Bio: <%= email.bio %>
                        </p>
                        <p style="font-family: 'Fredoka', sans-serif;margin-left: 15px; ">API Requests: <%= email.views
                                %>
                                <p style="font-family: 'Fredoka', sans-serif;margin-left: 15px; ">Account Created: <%=
                                        email.date %>
                                </p>
                        </p>
    </div>

    <div>
        <label for="myCheck">API Key:</label>
        <input type="checkbox" id="myCheck" onclick="myFunction()">
        <p id="text" style="display:none">
            <%= email.key %>
        </p>
    </div>
    
    
    <div>
        <button id="notification" onclick="onMessage()" 
            style="font-family: 'Fredoka', sans-serif;margin-left: 15px;">Inbox<i class="fa fa-bell-o"
                aria-hidden="true" style="font-size:20px"></i><span id="badge">
                <%= email.newMessages.length %>
            </span></button>
        <div class="card2">
            <div id="myDIV" style="display: none;">

                <% let here=email.newMessages %>
                    <% for(i=0; i < here.length; i++ ){ %>

                        <br>
                        <p id="cardText" style="font-family: 'Fredoka', sans-serif;">
                            <%= here[i] %>
                        </p>
                        <% } %>
            </div>
        </div>
    </div>
    <% }) %>
        <div class="card" style="margin-left: 15px;">
            <form action="/bio" method="POST" style="margin-left: 15px;">
                <h2 id="main" style="font-family: 'Fredoka', sans-serif;">Bio</h2>
                <p style="font-family: 'Fredoka', sans-serif;">Put a bio description!</p>

                <input style="font-family: 'Fredoka', sans-serif;" type="text" class="box" id="bio" name="bio"
                    placeholder="Bio description" required />
                <br>
                <input style="font-family: 'Fredoka', sans-serif;" type="submit" value="Submit" id="submit" />
            </form>
        </div>
        <div class="card" style="margin-left: 15px;">
            <h1 style="font-family: 'Fredoka', sans-serif;margin-left: 15px;">Select Your Profile Picture</h1>
            <form method="post" action="/profilepicture" style="margin-left: 15px;font-family: 'Fredoka', sans-serif;">
                <input type="file" name="fileing" id="fileId"
                
                onchange="imageUploaded()">
                <input type="hidden" name="imageid" id="imageid" value="" >
                <br>
            <input type="submit" value="Submit" id="sumbit" onclick="complete()">
            </form>
            <img id="preview" src="" alt="Preview your profile picture" height="75" width="75" style="margin-bottom: 5px;">
        </div>
        <div class="card" style="margin-left: 15px;">
            <form action="/change_password" method="POST">
                <h2 id="main" style="font-family: 'Fredoka', sans-serif;">Change Password</h2>

                <input style="font-family: 'Fredoka', sans-serif;" type="text" class="box" id="email" name="email"
                    placeholder="Email" required />
                <br>

                <input style="font-family: 'Fredoka', sans-serif;" type="password" class="box" id="password"
                    name="password" placeholder="Password" required />
                <br>
                <input style="font-family: 'Fredoka', sans-serif;" type="password" class="box" id="new_password"
                    name="new_password" placeholder="New Password" required />
                <br>
                <input style="font-family: 'Fredoka', sans-serif;" type="submit" value="Submit" id="submit" />
                <button style="font-family: 'Fredoka', sans-serif;" onclick="window.location.href='/forgot'">Forgot
                    Password</button>
            </form>
        </div>



        <script>
            function myFunction() {
                var checkBox = document.getElementById("myCheck");
                var text = document.getElementById("text");
                if (checkBox.checked == true) {
                    text.style.display = "inline-block";
                } else {
                    text.style.display = "none";
                }
            }
            function myNav() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
            function onMessage() {
                var x = document.getElementById("myDIV");
                let noti = document.getElementById('badge')
                if (x.style.display === "none") {
                    x.style.display = "inline-block";
                    
                    noti.style.display = "none"
                } else {
                    x.style.display = "none";
                }
            }
        </script>
</body>

</html>